<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h2 class="text-center">Login</h2>
            <br>
            <form class="" action="/user/login" method="POST">
                <div class="from-group">
                    <label>Username: </label>
                    <input class="form-control" type="text" name="username" value="">
                    <br>
                    <label for="pass">Password: </label>
                    <input class="form-control" type="password" name="pass" value="">
                    <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center">
                <a href="/register">Create new account</a>
            </div>
        </div>
        <!--

        <form class="" action="/user/login" method="POST">
            <label>Email: </label>
            <input type="text" name="username" value="">
            <label>Pass: </label>
            <input type="password" name="pass" value="">
            <button type="submit" name="button">Login</button>
        </form>
        <a href="/register">Create a new user</a>

        -->
    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</html>
